@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(./fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(./fonts/Poppins-Bold.ttf);
}
* {
  margin: 0;
}

/* Counter */
.container-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}
.button-counter {
  padding: 15px;
  border: none;
  background-color: #05de7e;
  border-radius: 10px;
  cursor: pointer;
}
.count-number {
  font-size: 18px;
}
/* Login Form */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #003044;
  gap: 20px;
  font-family: poppins;
  color: white;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  color: white;
  letter-spacing: 2px;
  font-size: 34px;
}
.caption-header {
  color: white;
}
.fill {
  padding: 15px 40px;
  background-color: rgba(255, 255, 255, 0.185);
  border: transparent;
  color: white;
  border-radius: 10px;
  outline: none;
  width: 75%;
}
.auth-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #19775b;
  gap: 50px;
}
.remember {
  color: white;
}
.button-submit {
  color: white;
  background-color: #05de7e;
  width: 100%;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  width: 100% !important;
}

/* Survey Perokok */
.container-survey {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
